@import "navbar.css";
@import "style.css";
@import "font.css";
@import "colors.css";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

:root {
  background-color: var(--background-color);
}

.intro {
  margin-top: 0rem;
}

.intro-decoration, .projects-decoration, .contact-decoration {
  color: var(--accent-color);
  font-size: clamp(2rem, 3vw, 1.5rem);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: -0.5rem;
  transition: color 0.5s ease, transform 0.5s ease;
}

.intro-decoration:hover, .projects-decoration:hover, .contact-decoration:hover {
  color: var(--secondary-color);
  transform: translateX(10px);
}

.intro-title {
  color: var(--primary-color);
  line-height: 1.05;
  letter-spacing: -0.05rem;
  font-size: clamp(4rem, 6vw, 8rem);
}

.intro-description {
  color: var(--secondary-color);
  font-size: clamp(1.25rem, 2vw, 3rem);
}

.projects {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
  scroll-snap-align: start;
  scroll-margin-top: 4rem;
}

.projects-title {
  color: var(--primary-color);
  font-size: clamp(4rem, 6vw, 8rem);
  margin-bottom: 2rem;
}

/* Carousel of projects */
.projects-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.projects-container:hover .project {
  filter: blur(10px);
  opacity: 0.5;
}

.projects-container .project:hover {
  filter: blur(0);
  opacity: 1;
  transform: translateY(-10px);
  background-position: 100%;
  z-index: 1;
}

.project {
  flex: 0 0 auto;
  width: clamp(16rem, 80vw, 20rem);
  border: 0.5px solid var(--secondary-color);
  background-size: 200%;
  background-image: linear-gradient(135deg, var(--background-color), var(--background-color), var(--accent-color));
  padding: 40px;
  transition:
    background-position 0.2s ease,
    transform 0.2s ease,
    filter 0.2s ease,
    opacity 0.2s ease,
    transform 0.2s ease;
  text-decoration: none;
  scroll-snap-align: start;
  overflow: hidden;
}

.project-title {
  font-size: clamp(2rem, 2vw, 6rem);
  color: var(--primary-color);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.project-content {
  color: var(--secondary-color);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
}

.contact-title {
  color: var(--primary-color);
  font-size: clamp(4rem, 6vw, 8rem);
  margin-bottom: 1rem;
}

.contact-content {
  color: var(--secondary-color);
  font-size: clamp(1.25rem, 2vw, 3rem);
  margin-left: 1rem;
}

.contact-content a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.contact-content a:hover {
  color: var(--accent-color);
}

#footer {
  color: var(--secondary-color);
  background-color: var(--background-color-secondary);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.intro, .projects, .contact {
  scroll-snap-align: start;
  scroll-margin-top: 0rem;
  padding: 2rem;
  height: 100svh;
  margin: 0;

  /* center content vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .intro,
  .projects,
  .contact {
    padding: 1rem;
  }
}