@import "colors.css";

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 2rem;
  min-height: 7vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-secondary-transparent);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--secondary-color);
}

.navbar a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s ease;
  font-family: "Stack Sans Text", sans-serif;
  font-size: clamp(1rem, 3vw, 1.25rem);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
}