:root {
  --navbar-height: 3rem;
  --navbar-blur: 5px;
  --navbar-margin: 0.5rem;
  --color-background: rgb(255, 255, 255);
  --color-accent: rgba(50, 50, 200, 0.8);
  --color-navbar: rgba(30, 30, 30, 0.8);
  --color-title-1: rgb(230, 230, 230);
  --color-title-2: rgb(180, 180, 180);
  --color-content: rgb(210, 210, 210);
  --border-radius: 10px;
  font-family: "Work Sans", BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
