@import url("../var.css");
@import url("../navbar.css");

#about,
#contrib,
#docs,
#title-content {
  backdrop-filter: blur(10px) brightness(0.3);
  border-radius: var(--border-radius);
  padding: 1rem;
  z-index: 1;
  position: relative;
  font-size: 60px;
  margin-top: calc(var(--navbar-height) + var(--navbar-margin) + 1rem);
  font-size: 1.5rem;
}

#about-title,
#contrib-title,
#docs-title {
  font-weight: 600;
  background-image: linear-gradient(var(--color-title-1), var(--color-title-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: left;
  color: transparent;
  letter-spacing: -0.025em;
  font-size: 60px;
  transition: font-weight 0.5s ease;
}

#about-title:hover,
#docs-title:hover,
#contrib-title:hover {
  font-weight: 400;
}

#about-content,
#contrib-content {
  font-size: 20px;
  color: var(--color-content); 
}
