<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Started Posts</title>
    <style>  
      @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
    </style>
    <link rel="stylesheet" href="../template/style.css" />
  </head>
  <body class="barlow-regular">
    <header class="navbar" class="barlow-regular">
      <div class="navbar-content">
        <a href="../../index.html">About</a>
        <a href="../index.html">All Posts</a>
      </div>
    </header>
    <div class="blog-post-container">
    <div class="post-heading">
      <h1 class="post-title">Temporary Title.</h1>
      <i class="post-meta">Month, DD, YYYY</i>
    </div>
    <div class="post-content">
      <div class="summary">
        <i>
          Temporary summary.
        </i>
      </div>
      <h2>Heading 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Proin condimentum sed mi non sagittis.
        Nullam lacinia felis et erat convallis, id pretium urna blandit.
        Suspendisse dapibus pellentesque scelerisque.
        Praesent tortor nulla, gravida suscipit hendrerit eu, euismod vel nunc.
      </p>
      <h3>Heading 3</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras venenatis lacus sit amet ante dignissim venenatis.
        Donec non nibh erat.
        Mauris in elit in erat eleifend mollis sed a ligula.
        Donec scelerisque eleifend nibh, ac sagittis nunc tincidunt vitae.
      </p>
      <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Proin condimentum sed mi non sagittis.
        Nullam lacinia felis et erat convallis, id pretium urna blandit.
        Suspendisse dapibus pellentesque scelerisque.
        Praesent tortor nulla, gravida suscipit hendrerit eu, euismod vel nunc.
      </p>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/SMPTE_Color_Bars.svg/3840px-SMPTE_Color_Bars.svg.png" alt="Placeholder Image" />
    </div>
  </body>
</html>
